body.no-right-panel [id^="yandex_rtb"] {
    display: none;
}
.rtb-info {
    padding: 100px 20px;
    text-align: center;
    color: #34e89e;
    opacity: 0;
    transition: opacity 1s;
}
[id^="yandex_rtb"]:hover .rtb-info {
    opacity: 1;
}
