.Button {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #407a52;
    color: #ffffff;
    opacity: 0.8;
    z-index: 100;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 1);
}
.Button:active {
    opacity: 0.5;
}
.Button_XL {
    font-size: 1.2em;
}
.Button_disabled {
    background: #666666 !important;
    color: #CCCCCC !important;
}
.Button_disabled:active {
    opacity: 0.8 !important;
}
